<section class="order-details" *ngIf="order$ | async as order">
  <h1>Pedido #{{ order.id?.slice(0, 8) }}</h1>

  <p>
    Data:
    {{ order.createdAt?.toDate() | date: "dd/MM/yyyy HH:mm" }}
  </p>

  <hr />

  <div class="items">
    <div class="item" *ngFor="let item of order.items">
      <strong>{{ item.name }}</strong>
      <span>{{ item.quantity }}x R$ {{ item.price }}</span>
    </div>
  </div>

  <hr />

  <h2>Total: R$ {{ order.total | number: "1.2-2" }}</h2>

  <button routerLink="/account">Voltar</button>
</section>
