.auth-page {
  min-height: 80vh;
  display: grid;
  place-items: center;

  form {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      text-align: center;
      color: #fff;
    }

    input {
      padding: 0.75rem;
      font-size: 1rem;
    }

    button {
      padding: 0.75rem;
      font-weight: 600;
      cursor: pointer;
      background-color: #B89B5E;
      border: none;
    }

    .error {
      color: red;
      font-size: 0.9rem;
      text-align: center;
    }

    .link {
      text-align: center;
      font-size: 0.9rem;
      color: #fff;

      a{
        color: #B89B5E;
      }
    }
  }
}
