* {
  font-family: 'Alumni Sans SC', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  background-color: #0F1218;
  min-height: 100vh;
}
